<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Cargar la etiqueta 'static' de Django -->
    {% load static %}
    
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Página de Inicio</h1>

    {% if grafico_incidentes %}
        <img src="data:image/png;base64,{{ grafico_incidentes }}" alt="Gráfico de incidentes por año">
    {% elif mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
</body>
</html>


