<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Incidentes</title>
</head>
<body>
    <h1>Incidentes de Seguridad</h1>

    <h2>Incidentes de HACKMAGEDDON</h2>
    <ul>
    {% for incidente in hackmageddon_incidentes %}
        <li>{{ incidente.actor.name }} realizó un ataque de tipo {{ incidente.tipo_ataque.tipo }} en {{ incidente.region.name }} el {{ incidente.event_date }}</li>
    {% endfor %}
    </ul>

    <h2>Incidentes de CISSM</h2>
    <ul>
    {% for incidente in cissm_incidentes %}
        <li>{{ incidente.actor.name }} atacó a {{ incidente.organization.name }} con un ataque de tipo {{ incidente.tipo_ataque.tipo }} en {{ incidente.region.name }} el {{ incidente.event_date }}</li>
    {% endfor %}
    </ul>
</body>
</html>
